@import "grid.scss";
@import url('https://fonts.googleapis.com/css?family=VT323');
body {
    text-align: center;
}

h1 {
    font-family: 'VT323', monospace;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 15px;
}

td {
    width: 12.5px;
}

input[type=number] {
    width: 6em;
}
.error{
  display: none;
  color: red;
}
