@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Press+Start+2P");
body {
  text-align: center;
  margin: 0; }

.hero {
  padding: 34px;
  background: #FC5C7D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #6A82FB, #FC5C7D);
  background: -o-linear-gradient(left, #6A82FB, #FC5C7D);
  background: linear-gradient(to right, #6A82FB, #FC5C7D); }
  .hero h1 {
    font-family: 'Press Start 2P', monospace;
    font-size: 70px;
    margin: 0.2em;
    text-align: center;
    color: white;
    text-shadow: 2px 6px #000; }

h2 {
  margin: 1em 0 0.25em; }

h2:first-of-type {
  margin-top: 0.5em; }

table,
td,
tr {
  border: 1px solid black; }

table {
  border-collapse: collapse;
  margin: 0 auto; }

tr {
  height: 15px; }

td {
  width: 12.5px; }

input[type=number] {
  width: 6em; }

button,
input,
textarea {
  outline: none; }

.button-wrapper {
  padding: 14px 0; }

.button {
  background-color: #6A82FB;
  color: #fff;
  border: 1px solid #6A82FB;
  border-radius: 3px;
  padding: 7px 14px;
  font-size: 16px;
  display: block;
  margin: 4px auto;
  text-align: center;
  transition: all 0.2s ease; }
  .button:hover {
    margin-top: 3px;
    margin-bottom: 5px;
    box-shadow: 0 2px 7px 1px #e5e5e5;
    background-color: #445299;
    border: 1px solid #445299; }
  .button:active {
    box-shadow: 0 2px 17px 1px #e5e5e5;
    background-color: #5a6183;
    border: 1px solid #5a6183; }
